.header {
    text-align: center;
    color: red;
}

#topic {
    text-align: center;
    color: #2F4F4F;
}

#tablebox{
    display: flex;
    justify-content: center;

}

#formalign{
    display: flex;
    justify-content: space-around;
    
    color: #2F4F4F;
}

#formcenter
{
    color: #2F4F4F;
}

#addbutton{
    display: flex;
    justify-content: center;

    text-align: center;
    color: #2F4F4F;
}


.imgfloat
{
    float: right;
    width: 10%;
}



.zombie-page
{
    display: grid;
    grid-template-areas: 'left right';
}

.zombie-page-menu
{
    grid-area: left;
    text-align: left;
    width: 150px;
    background: rgb(50, 150, 150, 0.38);
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.zombie-page-content
{
    grid-area: right;
    text-align: word-wrap;
    padding: 10px;
}







.zombie-grids
{
    display: grid;
    grid-template-areas: 'left middle right';
}

.zombie-grids-column-left
{
    grid-area: left;
    text-align: center;
    padding: 50px;
}

.zombie-grids-column-middle
{
    grid-area: middle;
    text-align: word-wrap;
   padding: 10px;
}

.zombie-grids-column-right
{
    grid-area: right;
    text-align: center;
    padding: 50px;
}



.zombie-grid-container
{
    display: grid;

    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 5px;
}

.zombie-grid-item-header
{
    background-color: #2F4F4F;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.zombie-grid-item
{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
}


.tableheaderbox
{
    color: #2F4F4F;
}



#firstflexbox
{
    display: flex;
    justify-content: center;
}
