<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
      <b> - {{ title }} - </b>
  </h1>
</div>

<tr>
  <div class="zombie-page">
  <tr>
      <div class="zombie-page-menu">
          <b><u> MENU </u></b>
      </div>
  
      <div class="zombie-page-content">
      <tr>
          <div class="zombie-grids">
              <div class="zombie-grids-column-left"> </div>

              <div class="zombie-grids-column-middle">
                  <p> 
                          <img class = "imgfloat" src="./img/FinalZombie.jpg" alt="Zombies image" />

                          A <b> zombie </b> (Haitian French: <i> zombi </i>, Haitian Creole: <i> zonbi </i>) is an undead being created through the reanimation
                          of a human corpse. The term comes from Haitian folklore, where a zombie is a dead body reanimated through
                          various methods, most commonly magic. Modern depictions of the reanimation of the dead do not necessarily
                          involve magic but often invoked by methods such as carriers, radiation, mental diseases, vectors, pathogens,
                          scientific accidents, etc.
                          </br> </br>
                          A <b> zombie </b> (Haitian French: <i> zombi </i>, Haitian Creole: <i> zonbi </i>) is an undead being created through the reanimation
                          of a human corpse. The term comes from Haitian folklore, where a zombie is a dead body reanimated through
                          various methods, most commonly magic. Modern depictions of the reanimation of the dead do not necessarily
                          involve magic but often invoked by methods such as carriers, radiation, mental diseases, vectors, pathogens,
                          scientific accidents, etc.
                  </p>
              </div>

              <div class="zombie-grids-column-right"> </div>
          </div>
      </tr>




      <tr>
              <div class="zombie-grids">
                  <div class="zombie-grids-column-left"> </div>

                  <div class="zombie-grids-column-middle">

                          <div class="zombie-grid-container">
                                  <div class="zombie-grid-item-header"> First Name </div>
                                  <div class="zombie-grid-item-header"> Last Name </div>
                                  <div class="zombie-grid-item-header"> Status Id </div>
                                  <div class="zombie-grid-item-header"> Status </div>
              
                                  <div class="zombie-grid-item"> Michael </div>
                                  <div class="zombie-grid-item"> Jackson </div>
                                  <div class="zombie-grid-item"> 1 </div>
                                  <div class="zombie-grid-item"> Alive </div>
              
                                  <div class="zombie-grid-item"> Harold </div>
                                  <div class="zombie-grid-item"> Hooper </div>
                                  <div class="zombie-grid-item"> 3 </div>
                                  <div class="zombie-grid-item"> Dead </div>
                              </div>
              
                  </div>

                  <div class="zombie-grids-column-right"> </div>
              </div>
          </tr>




      </div>
  </tr>
  </div>
</tr>


<hr />


<br/>


<tr>
  <div id = "formalign">
      <div id = "formcenter">
          First Name: <input type = "text" name = "FirstName" value = "First">
      </div>

      <div id = "formcenter">
          Last Name: <input type = "text" name = "LastName" value = "Last">
      </div>

      <div id = "formcenter">
      <select>
          <option value = "1"> Alive </option> 
          <option value = "2"> Zombie </option>
          <option value = "3"> Dead </option>
          <option value = "4"> Unknown </option>
          <option value = "5"> Omnipotent </option>
      </select>
      </div>
  </div>
</tr>

<tr>        
  <div id ="addbutton">
      <button> ADD </button>
  </div>
</tr>
